{% if product.images != null %}
  <div
    class="carousel product__image-slider"
    role="document"
    aria-label="{{ 'products.modal.label' | t }}"
    tabindex="0"
  >
    {%- for media in product.media -%}
      <div class="carousel-cell">
        {% if media.media_type == 'video' %}
          {{
            media
            | media_tag:
              image_size: '720x',
              autoplay: true,
              loop: loop,
              controls: true,
              preload: 'none',
              autoplay: true,
              height: '100%',
              width: '100%'
          }}
        {% else %}
          <img
            data-flickity-lazyload-srcset="
              {{ media | img_url: '1440x' }} 1440w,
              {{ media | img_url: '1080x' }} 1080w,
              {{ media | img_url: '720x' }} 767w,
              {{ media | img_url: '480x' }} 480w
            "
            sizes="(min-width: 480px) 1440px, 1080px, 767px, 480px"
            data-flickity-lazyload-src="{{ media | img_url: 'master' }}"
            alt="{{ media.alt | escape }}"
            border="0"
            loading="lazy"
            data-media-id="{{ media.id }}"
          >
        {% endif %}
      </div>
    {%- endfor -%}
  </div>
  {% if product.images.size > 1 %}
    <div class="carousel product__image-thumbnail">
      {%- for media in product.media -%}
        <div class="carousel-cell">
          <img
            data-flickity-lazyload-srcset="
              {{ media | img_url: '1440x' }} 1440w,
              {{ media | img_url: '1080x' }} 1080w,
              {{ media | img_url: '720x' }} 767w,
              {{ media | img_url: '480x' }} 480w
            "
            loading="lazy"
            sizes="(min-width: 480px) 1440px, 1080px, 767px, 480px"
            data-flickity-lazyload-src="{{ media | img_url: 'master' }}"
            alt="{{ media.alt | escape }}"
            border="0"
            data-media-id="{{ media_id }}"
          >
        </div>
      {%- endfor -%}
    </div>
  {% endif %}
{% endif %}
