{% assign secondaryImage = product.media[1] %}
{% assign collection_handles = product.collections | map: 'handle' %}
{% if product.featured_media.preview_image.alt contains 'youtube' or image.alt contains 'vimeo' %}
{% assign alt_text = product.title %}
{% else %}
{% assign alt_text = product.featured_image.alt %}
{% endif %}

{% style %}
.shopify-model-viewer-ui model-viewer {
--progress-bar-height: 2px;
--progress-bar-color: $product-media-fill-color;
}
{% endstyle %}

<div class="product-card product-{{ product.id }} grid__item scroll-trigger animate--slide-in">
    <div class="product-wrap">
        <div class="relative product_image">
            <a href="{{ product.url  }}">
                <div class="image__container">

                    <img src="{{ product.featured_media.preview_image | img_url: '320x' }}"
                        alt="{{ product.title | escape }}" class="lazyload" />
                </div>

            </a>
        </div>
        <h3 class="card__heading{% if product.featured_media or settings.card_style == 'standard' %} h5{% endif %}"
            {% if product.featured_media or settings.card_style=='card' %}
            id="title-{{ section_id }}-{{ product.id }}" {% endif %}>
            <div class="banner_holder">
                {%- render 'button-wishlist', product: product -%}
            </div>
            <a href="{{ product.url }}" id="CardLink-{{ section_id }}-{{ product.id }}"
                class="full-unstyled-link"
                aria-labelledby="CardLink-{{ section_id }}-{{ product.id }} Badge-{{ section_id }}-{{ product.id }}">
                {{ product.title | escape }}
            </a>
        </h3>
        <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ product.vendor }}</div>
            {%- endif -%}

            <span class="caption-large light">{{ block.settings.description | escape }}</span>

            {% render 'price', product: product, price_class: '', show_compare_at_price: true %}
           
          </div>
          {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
    </div>

</div>