
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page_title }}</title>
  {{content_for_header}} 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="apple-touch-fullscreen" content="yes"/>
  <meta property="og:type" content="article" />
  <meta name="keywords" content="gift for dad, gift for her" />
  {% if settings.favicon != nil %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
  {% else %}
 	 <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {% endif %}
	<meta name="robots" content="INDEX,FOLLOW" />
  {{ 'ld-bootstrap.min.css' | asset_url | stylesheet_tag }}
  {{ 'ld-reset.css' | asset_url | stylesheet_tag }}
  {{ 'ld-library.css' | asset_url | stylesheet_tag }}
  {{ 'ld-styles.css' | asset_url | stylesheet_tag }}
  {{ 'ld-font-awesome-all.min.css' | asset_url | stylesheet_tag }}
  
  <script src="{{ 'ld-jquery-1.11.1.min.js' | asset_url }}"></script>
  <script src="{{ 'ld-popper.min.js' | asset_url }}"></script>
  <script src="{{ 'ld-bootstrap.min.js' | asset_url }}"></script>
 
  {{ 'ld-profile-koc.css' | asset_url | stylesheet_tag }}
  {{ 'ld-style.css' | asset_url | stylesheet_tag }}

  {{ 'ld-css-voucher.css' | asset_url | stylesheet_tag }}
  {{ 'ld-css-miniscript-koc.css' | asset_url | stylesheet_tag }}
  {{ 'ld-slick.css' | asset_url | stylesheet_tag }}
  {{ 'ld-slick-theme.css' | asset_url | stylesheet_tag }}
  {{ 'ld-swiper-bundle.min.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'swiper-bundle.min.js' | asset_url }}"></script>
</head>
<body>
    <div id="layout-wrapper">
        <main class="page-profile  page-profile-banner">
            <div class="page-profile--main">
            {{content_for_layout}}
            </div>
        </main>
		<footer>
		<div class="main-ft"><p>Copyright © 2022 </p></div>
		</footer>
     {% render 'icon-scroll-top' %}
    <!-- End: Main -->

     <script>
        // START SWIPER SLIDER
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true, 
            },
        });
        
      
        // END HANDLE TAB PRODUCT
    </script>
<script>
 $(document).ready(function(){
    settingProductHot();
 })
 function settingProductHot() {
		let swiper = new Swiper(".prdHot--slide", {
				breakpoints: {
						1024: { 
								slidesPerView: 3,
								spaceBetween: 10
						},
						900: {
								slidesPerView: 3,
								spaceBetween: 10
						},
						700: {
								slidesPerView: 3.4,
								spaceBetween: 10
						},
						500: {
								slidesPerView: 2,
								spaceBetween: 5
						},
						400: {
								slidesPerView: 2,
								spaceBetween: 5
						},
						300: {
								slidesPerView: 2,
								spaceBetween: 5
						}
				}
		});
}
	$(".nav-tabs li.nav-item a").click(function(){
		var id =  $(this).attr("id");
		$(".tab-pane.fade").removeClass("active show")
		$(`.tab-pane.fade#${id}`).addClass("active show")
			console.log("test", $(this).attr("id"))
	})

</script>    
  <script>
	window.fwSettings={
	'widget_id':69000004371
	};
	!function(){if("function"!=typeof window.FreshworksWidget){var n=function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}() 
</script>
<script type='text/javascript' src='https://widget.freshworks.com/widgets/69000004371.js' async defer></script>    
</body>
</html>