{{ 'section-banner-collection.css' | asset_url | stylesheet_tag }}
{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  
    @media screen and (min-width: 769px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
    @media screen and (max-width: 768px) {
      .section-{{ section.id }}-padding {
        padding-top:20px;
        padding-bottom: 0;
      }
    }
  {%- endstyle -%}
<div class="banner-collection page-width section-{{ section.id }}-padding {%if section.settings.title != blank%}has-content {%endif%}">
  <h2 class="banner-collection-title hidden-xl">{{ section.settings.title }}</h2>
  <div class="banner-collection-img  ">
    {% if section.settings.url_collection != blank %}
      <a href="{{ section.settings.url_collection }}">
        <img
          class="hidden-xs"
          srcset="{% if section.settings.image_collection.src.width >= 288 %}
          {{ section.settings.image_collection.src | image_url: width: 288 }} 288w,{% endif %}
        {% if section.settings.image_collection.src.width >= 576 %}
          {{ section.settings.image_collection.src | image_url: width: 576 }} 576w,{% endif %}
        {% if section.settings.image_collection.src.width >= 550 %}
          {{ section.settings.image_collection.src | image_url: width: 550 }} 550w,{% endif %}
        {% if section.settings.image_collection.src.width >= 1100 %}
          {{ section.settings.image_collection.src | image_url: width: 1100 }} 1100w,{% endif %}
        {{ section.settings.image_collection.src | image_url }} {{ section.settings.image_collection.src.width }}w"
        src="{{ section.settings.image_collection.src | image_url: width: 1440, height: auto }}"
        loading="lazy"
        width="1440px"
        height="auto"
        alt="image cover desktop">
        {%if section.settings.image_collection_mb %}
        <img
            class="hidden-xl"
            srcset="{% if section.settings.image_collection_mb.src.width >= 288 %}
            {{ section.settings.image_collection_mb.src | image_url: width: 288 }} 288w,{% endif %}
            {% if section.settings.image_collection_mb.src.width >= 576 %}
            {{ section.settings.image_collection_mb.src | image_url: width: 576 }} 576w,{% endif %}
            {% if section.settings.image_collection_mb.src.width >= 550 %}
            {{ section.settings.image_collection_mb.src | image_url: width: 550 }} 550w,{% endif %}
            {% if section.settings.image_collection_mb.src.width >= 1100 %}
            {{ section.settings.image_collection_mb.src | image_url: width: 1100 }} 1100w,{% endif %}
            {{ section.settings.image_collection_mb.src | image_url }} {{ section.settings.image_collection_mb.src.width }}w"
            src="{{ section.settings.image_collection_mb.src | image_url: width: 576, height: 576 }}"
            sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
            loading="lazy"
            width="576px"
            height="auto"
            alt="image cover mobile">
        {%endif%}
        
      </a>

    {% endif %}
  </div>
  {% if section.settings.btn_link != blank %}
        <a href="{{section.settings.url_collection}}" class="btn-shop-all hidden-xl">{{ section.settings.btn_link }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="11"
            height="19"
            viewBox="0 0 11 19"
            fill="none">
            <path d="M2.09312 0.5L-3.69798e-07 2.615L6.79892 9.5L-2.77742e-06 16.385L2.09312 18.5L11 9.5L2.09312 0.5Z" fill="white" />
          </svg>
        </a>
 {% endif %}
  {% if section.settings.title != blank %}
    <div class="banner-collection-content ">
      <h2 class="banner-collection-title">{{ section.settings.title }}</h2>
      <ul class="banner-collection-link">
        {% for block in section.blocks %}
          <li>
            <a href="{{ block.settings.url_collection }}">{{ block.settings.title_col }}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% if section.settings.btn_link != blank %}
        <a href="{{section.settings.url_collection}}" class="btn-shop-all">{{ section.settings.btn_link }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="11"
            height="19"
            viewBox="0 0 11 19"
            fill="none">
            <path d="M2.09312 0.5L-3.69798e-07 2.615L6.79892 9.5L-2.77742e-06 16.385L2.09312 18.5L11 9.5L2.09312 0.5Z" fill="white" />
          </svg>
        </a>
      {% endif %}
    </div>
  {% endif %}

</div>
{% schema %}
  {
    "name": "banner collection",
    "class": "banner-collection",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_collection",
        "label": "Image Collection"
      },
      {
        "type": "image_picker",
        "id": "image_collection_mb",
        "label": "Image Collection Mobile"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection product"
      },
      {
        "type": "url",
        "id": "url_collection",
        "label": "Url Image collection And Button"
      }, {
        "type": "text",
        "id": "btn_link",
        "label": "Label button"
      },{
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "text",
            "id": "title_col",
            "label": "Name Collection",
            "default": "Name collection"
          }, {
            "type": "url",
            "id": "url_collection",
            "label": "Url Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Banner collection"
      }
    ]
  }
{% endschema %}