{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}

{% comment %}<script defer src="https://cdn.customily.com/shopify/static/customily.shopify.script.unified.js"></script>{% endcomment %}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

{% comment %}
  <div class=" page-width">
    <div class="title-wrapper-with-link">
    <h1 class="title title--primary">{{ 'sections.cart.title' | t }}</h1>
    <a href="{{ routes.all_products_collection_url }}" class="underlined-link">{{ 'general.continue_shopping' | t }}</a>
  </div>
{% endcomment %}
{%- assign totalCompareAtPrice = 0 -%}
{%- assign totalSavings = 0 -%}
<div class="main-cart page-width {% if cart == empty %} is-empty{% else %} section-{{ section.id }}-padding{% endif %}">
  <cart-items class="cart-items-box">
    <div class="cart__warnings">
      <div class=" cart-empty">
        <div class="section clearfix">
          <div class=" medium-down--one-whole">
            <h3 class="title-page-empty">Ops!!!</h3>
            <div class="icon-cart-empty">
              {% render 'cart-empty' %}
            </div>
            <h2 class="sub-header">{{ 'general.cart.continue_browsing_html' | t }}</h2>
            <p class="quote_empty">{{ 'general.cart.quote_cart_empty' | t }}</p>
            <div class="box-btn-cart-empty">
              <a
                class="one-third column"
                href="/"
              >
                {{- 'general.cart.continue_shopping_link_html' | t -}}
              </a>
            </div>
          </div>
          <br class="clear">
        </div>
      </div>

      {% comment %}
           {%- if shop.customer_accounts_enabled and customer == null -%}
          <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
          <p class="cart__login-paragraph">
            {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
          </p>
        {%- endif -%}
      {% endcomment %}
    </div>
    <script id="tfx-cart">
      window.tfxCart =  {{cart| json}};
    </script>
    {% if cart != empty %}
      <div class="cart-countdown">
        <p>Your cart will expire in <b>10:00 minutes!</b>! Checkout now before your items sell out</p>
      </div>
      <p class="itemCart page-count">
        {% if cart.item_count == 1 %}
          {{ cart.item_count }} Item
        {% else %}
          {{ cart.item_count }} Items
        {% endif %}
        in your cart
      </p>
    {% endif %}
    <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
      {% render 'modal-preview-cart' %}
      <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
        <div class="js-contents">
          {%- if cart != empty -%}
            <div class="cart-items">
              {% comment %}
                   <caption class="visually-hidden">
                  {{ 'sections.cart.title' | t }}
                </caption>
              {% endcomment %}

              {%- for item in cart.items -%}
                <div class="cart-item" id="CartItem-{{ item.index | plus: 1 }}" data-key="{{ item.key }}">
                  <div class="cart-item__media" data-key="{{ item.key }}">
                    {% assign previewImg = '' %}
                    {% for thumb in item.properties %}
                      {% if thumb.first contains '-preview' %}
                        {% assign previewImg = thumb.last %}
                      {% endif %}
                    {% endfor %}
                    {% if previewImg != blank %}
                      {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                      <div class="cart-item__image-container gradient global-media-settings">
                        {% if previewImg != '' %}
                          <img
                            loading="lazy"
                            src="{{previewImg}}"
                            alt=" image design"
                            preview-src="{{ previewImg }}"
                            data-backup-src="{{ item.image | image_url: width: 300  }}"
                            width="100%"
                            height="auto"
                          >
                          <div class="icon-preview trigger-design">
                            <svg viewBox="0 0 512 512">
                              <path class="path-1" fill="currentColor" d="M311.984,195.99v23.999c0,6.6-5.4,11.999-11.999,11.999h-67.997v67.997c0,6.599-5.399,11.999-11.999,11.999H195.99 c-6.6,0-12-5.4-12-11.999v-67.997h-67.997c-6.6,0-12-5.399-12-11.999V195.99c0-6.6,5.4-12,12-12h67.997v-67.997c0-6.6,5.4-12,12-12 h23.999c6.6,0,11.999,5.4,11.999,12v67.997h67.997C306.584,183.991,311.984,189.391,311.984,195.99z M508.475,485.876 l-22.599,22.599c-4.699,4.7-12.3,4.7-16.999,0L347.482,387.08c-2.3-2.3-3.499-5.299-3.499-8.499v-13.199 c-36.499,31.499-83.996,50.598-135.994,50.598C93.096,415.979,0,322.885,0,207.99C0,93.096,93.096,0,207.99,0 c114.895,0,207.99,93.096,207.99,207.99c0,51.998-19.099,99.495-50.598,135.994h13.199c3.2,0,6.199,1.299,8.499,3.499 l121.395,121.395C513.175,473.576,513.175,481.177,508.475,485.876z M367.981,207.99c0-88.396-71.596-159.992-159.992-159.992 c-88.396,0-159.992,71.597-159.992,159.992c0,88.396,71.597,159.992,159.992,159.992 C296.386,367.981,367.981,296.386,367.981,207.99z"></path>
                            </svg>
                            Preview
                          </div>
                        {% else %}
                          {% include 'image-element',
                            image: item.product.featured_media.preview_image,
                            alt: item.title,
                            object_fit: settings.align_height,
                            max_height: 800
                          %}
                        {% endif %}
                      </div>
                    {% else %}
                      <img
                        src="{{ item.image | image_url: width: 300 }}"
                        class="cart-item__image"
                        alt="{{ item.title | escape }}"
                        loading="lazy"
                        width="auto"
                        height="{{ auto | divided_by: item.image.aspect_ratio | ceil }}"
                      >
                    {% endif %}
                  </div>

                  <div class="cart-item-content">
                    <div class="cart-item__details">
                      {%- if settings.show_vendor -%}
                        <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                      {%- endif -%}

                      <a href="{{ item.url }}" class="cart-item__name h4">{{ item.product.title | escape }}</a>

                      <ul class="meta">
                        {% unless item.product.has_only_default_variant or item.variant.title contains 'Title' %}
                          {% for option in item.product.options %}
                            <li>
                              <span class="label">{{ option }}:</span>
                              <span>{{ item.variant.options[forloop.index0] }}</span>
                            </li>
                          {% endfor %}
                        {% endunless %}
                        {% if item.properties %}
                          {% for p in item.properties %}
                            {% unless p.first == blank %}
                              {% if p.first contains 'Tee Style' %}
                                <li class="label">{{ p.first }}: {{ p.last }}</li>
                              {% elsif p.first contains 'Tee Color' %}
                                <li class="label">{{ p.first }}: {{ p.last }}</li>
                              {% elsif p.first contains 'Tee Size' %}
                                <li class="label">{{ p.first }}: {{ p.last }}</li>
                              {% endif %}
                            {% endunless %}
                            {% unless p.last == blank %}
                              {% if p.last contains '/uploads/' or p.first contains '_Your Photo' %}
                                <li>
                                  Your Photo:
                                  <a class="lightbox" href="{{ p.last }}">{{ 'general.cart.uploaded_file' | t }}</a>
                                </li>
                              {% endif %}
                            {% endunless %}
                          {% endfor %}
                        {% endif %}
                      </ul>
                      <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount in item.line_level_discount_allocations -%}
                          <li class="discounts__discount">
                            {%- render 'icon-discount' -%}
                            {{ discount.discount_application.title }}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                    {% comment %}
                      <div class="cart-item__totals right medium-hide large-up-hide">
                        <div class="loading-overlay hidden">
                          <div class="loading-overlay__spinner">
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              class="spinner"
                              viewBox="0 0 66 66"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </div>
                        <div class="cart-item__price-wrapper">
                          {%- if item.original_line_price != item.final_line_price -%}
                            <dl class="cart-item__discounted-prices">
                              <dt class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </dt>
                              <dd>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                              </dd>
                              <dt class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </dt>
                              <dd class="price price--end">
                                {{ item.final_line_price | money }}
                              </dd>
                            </dl>
                          {%- else -%}
                            <span class="price price--end">
                              {{ item.original_line_price | money }}
                            </span>
                          {%- endif -%}

                          {%- if item.variant.available and item.unit_price_measurement -%}
                            <div class="unit-price caption">
                              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                              {{ item.unit_price | money }}
                              <span aria-hidden="true">/</span>
                              <span class="visually-hidden"
                                >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                              >
                              {%- if item.unit_price_measurement.reference_value != 1 -%}
                                {{- item.unit_price_measurement.reference_value -}}
                              {%- endif -%}
                              {{ item.unit_price_measurement.reference_unit }}
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    {% endcomment %}
                    {% if item.discounts.size > 0 %}
                      {% assign firstItem = item.discounts[0] %}
                      <div class="cart__item--discount">
                        <p class="label">
                          Discount:<span> {{ firstItem.title }}</span>
                        </p>
                      </div>
                    {% endif %}
                    {% comment %}
                      {% if item.properties['_customily-customization-url'] %}
                       <a class="edit-personalization" href="{{item.properties['_customily-customization-url']}}" title="edit desgin">
                         {%  render 'icon-edit-design' %}
                         <span>Edit Personalization</span>
                       </a>
                      {% endif %}
                    {% endcomment %}
                    {%- liquid
                      assign has_qty_rules = false
                      if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                        assign has_qty_rules = true
                      endif

                      assign has_vol_pricing = false
                      if item.variant.quantity_price_breaks.size > 0
                        assign has_vol_pricing = true
                      endif
                    -%}
                    <div class="product-controls-group">
                      <div class="cart-item__quantity{% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}">
                        <quantity-popover>
                          <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                            <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                              {{ 'products.product.quantity.label' | t }}
                            </label>
                            <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                              {%- if has_qty_rules or has_vol_pricing -%}
                                <button
                                  type="button"
                                  aria-expanded="false"
                                  class="quantity-popover__info-button quantity-popover__info-button--icon-only button button--tertiary small-hide no-js-hidden"
                                >
                                  {% render 'icon-info' %}
                                </button>
                              {%- endif -%}
                              <quantity-input class="quantity cart-quantity">
                                <button class="quantity__button no-js-hidden" name="minus" type="button">
                                  <span class="visually-hidden">
                                    {{-
                                      'products.product.quantity.decrease'
                                      | t: product: item.product.title
                                      | escape
                                    -}}
                                  </span>
                                  {% render 'icon-minus' %}
                                </button>
                                <input
                                  class="quantity__input"
                                  data-quantity-variant-id="{{ item.variant.id }}"
                                  type="number"
                                  name="updates[]"
                                  value="{{ item.quantity }}"
                                  {% # theme-check-disable %}
                                  data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                  min="0"
                                  {% if item.variant.quantity_rule.max != null %}
                                    max="{{ item.variant.quantity_rule.max }}"
                                  {% endif %}
                                  step="{{ item.variant.quantity_rule.increment }}"
                                  {% # theme-check-enable %}
                                  aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                  id="Quantity-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                >
                                <button class="quantity__button no-js-hidden" name="plus" type="button">
                                  <span class="visually-hidden">
                                    {{-
                                      'products.product.quantity.increase'
                                      | t: product: item.product.title
                                      | escape
                                    -}}
                                  </span>
                                  {% render 'icon-plus' %}
                                </button>
                              </quantity-input>
                            </div>
                            {% comment %}
                                 <cart-remove-button
                                id="Remove-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                                <a
                                  href="{{ item.url_to_remove }}"
                                  class="button button--tertiary"
                                  aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                                >
                                  {% render 'icon-remove' %}
                                </a>
                              </cart-remove-button>
                            {% endcomment %}
                          </div>
                          {%- if has_qty_rules or has_vol_pricing -%}
                            <button
                              type="button"
                              class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary medium-hide large-up-hide"
                              aria-expanded="false"
                            >
                              {% render 'icon-info' %}
                              <span>
                                {%- if has_vol_pricing -%}
                                  {{ 'products.product.volume_pricing.note' | t }}
                                {%- elsif has_qty_rules -%}
                                  {{ 'products.product.quantity.note' | t }}
                                {%- endif -%}
                              </span>
                            </button>
                          {%- endif -%}
                          {%- if has_vol_pricing or has_qty_rules -%}
                            <div
                              class="cart-items__info global-settings-popup quantity-popover__info"
                              tabindex="-1"
                              hidden
                            >
                              {%- if has_qty_rules == false -%}
                                <span class="volume-pricing-label caption">
                                  {{- 'products.product.volume_pricing.title' | t -}}
                                </span>
                              {%- endif -%}
                              <div class="quantity__rules caption no-js-hidden">
                                {%- if item.variant.quantity_rule.increment > 1 -%}
                                  <span class="divider">
                                    {{-
                                      'products.product.quantity.multiples_of'
                                      | t: quantity: item.variant.quantity_rule.increment
                                    -}}
                                  </span>
                                {%- endif -%}
                                {%- if item.variant.quantity_rule.min > 1 -%}
                                  <span class="divider">
                                    {{-
                                      'products.product.quantity.minimum_of'
                                      | t: quantity: item.variant.quantity_rule.min
                                    -}}
                                  </span>
                                {%- endif -%}
                                {%- if item.variant.quantity_rule.max != null -%}
                                  <span class="divider">
                                    {{-
                                      'products.product.quantity.maximum_of'
                                      | t: quantity: item.variant.quantity_rule.max
                                    -}}
                                  </span>
                                {%- endif -%}
                              </div>
                              <button
                                class="button-close button button--tertiary medium-hide large-up-hide"
                                type="button"
                                aria-label="{{ 'accessibility.close' | t }}"
                              >
                                {%- render 'icon-close' -%}
                              </button>
                              {%- if item.variant.quantity_price_breaks.size > 0 -%}
                                <volume-pricing class="parent-display">
                                  <ul class="list-unstyled">
                                    <li>
                                      <span>{{ item.variant.quantity_rule.min }}+</span>
                                      {%- assign price = item.variant.price | money_with_currency -%}
                                      <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                    </li>
                                    {%- for price_break in item.variant.quantity_price_breaks -%}
                                      <li>
                                        <span>
                                          {{- price_break.minimum_quantity -}}
                                          <span aria-hidden="true">+</span></span
                                        >
                                        {%- assign price = price_break.price | money_with_currency -%}
                                        <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </volume-pricing>
                              {%- endif -%}
                            </div>
                          {%- endif -%}
                          <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                            <small class="cart-item__error-text"></small>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              class="icon icon-error"
                              viewBox="0 0 13 13"
                            >
                              <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                              <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                              <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                              <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                            </svg>
                          </div>
                        </quantity-popover>
                      </div>

                      <div class="cart-item__totals right ">
                       {% comment %}
                        <div class="loading-overlay hidden">
                          <div class="loading-overlay__spinner">
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              class="spinner"
                              viewBox="0 0 66 66"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </div>
                       {% endcomment %}
                       {%- assign itemCompareAtPrice = item.variant.compare_at_price -%}
                        {%- if itemCompareAtPrice == nil -%}
                          {%- assign itemCompareAtPrice = item.original_price -%}
                        {%- endif -%}
                       {%- assign totalLineCompareAtPrice = itemCompareAtPrice | times: item.quantity -%}
                       {%- assign totalCompareAtPrice = totalCompareAtPrice |  plus: totalLineCompareAtPrice -%}
                        <div class="cart-item__price-wrapper">
                          {%- if item.original_line_price != item.final_line_price -%}
                            <dl class="cart-item__discounted-prices">
                              <dt class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </dt>
                              <dd>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                              </dd>
                              <dt class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </dt>
                              <dd class="price price--end money">
                                {{ item.final_line_price | money }}
                              </dd>
                            </dl>
                          {%- else -%}
                          {%- if item.variant.compare_at_price > item.original_price  -%}
                            <span class="price money price-sale">{{ item.variant.compare_at_price | money }}</span>

                            {%- assign totalLineOriginalPrice = item.original_price | times: item.quantity -%}
                            {%- assign totalLineSavings = totalLineCompareAtPrice | minus: totalLineOriginalPrice -%}
                            {%- assign totalSavings = totalSavings | plus: totalLineSavings -%}
                          {% endif %}
                            {% comment %}
                              <span class="price price--end money">
                                {{ item.original_line_price | money }}
                              </span>
                            {% endcomment %}                          
                            <span class="price price--end money">
                              {{ item.original_price  | money }}
                            </span>
                          {%- endif -%}

                          {%- if item.variant.available and item.unit_price_measurement -%}
                            <div class="unit-price caption">
                              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                              {{ item.unit_price | money }}
                              <span aria-hidden="true">/</span>
                              <span class="visually-hidden"
                                >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                              >
                              {%- if item.unit_price_measurement.reference_value != 1 -%}
                                {{- item.unit_price_measurement.reference_value -}}
                              {%- endif -%}
                              {{ item.unit_price_measurement.reference_unit }}
                            </div>
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
      </div>

      <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
      <p
        class="visually-hidden"
        id="shopping-cart-line-item-status"
        aria-live="polite"
        aria-hidden="true"
        role="status"
      >
        {{ 'accessibility.loading' | t }}
      </p>
    </form>
  </cart-items>
  <div class="sub-total {% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
    <div>
      <div class="cart__footer section-{{ section.id }}-padding">
        {%- if settings.show_cart_note -%}
          <cart-note class="cart__note field">
            <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
            <textarea
              class="text-area field__input"
              name="note"
              form="cart"
              id="Cart-note"
              placeholder="{{ 'sections.cart.note' | t }}"
            >{{ cart.note }}</textarea>
          </cart-note>
        {%- endif -%}

        <div class="cart__blocks ">
          <div class="js-contents-right" {{ block.shopify_attributes }}>
            <div>
              {%- if cart.cart_level_discount_applications.size > 0 -%}
                <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                  {%- for discount in cart.cart_level_discount_applications -%}
                    <li class="discounts__discount discounts__discount--position">
                      {%- render 'icon-discount' -%}
                      {{ discount.title }}
                      (-{{ discount.total_allocated_amount | money }})
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>

            <div class="totals">
              <h2 class="totals__total">{{ 'sections.cart.estimated_total' | t }}</h2>
              <div class="loading-overlay hidden">
                <div class="loading-overlay__spinner">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    class="spinner"
                    viewBox="0 0 66 66"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                  </svg>
                </div>
              </div>
              <span class="totals__total-value money">{{ cart.total_price | money_with_currency }}</span>
            </div>

            
            {% if cart.total_discount > 0 or totalSavings > 0 %}
              <p class="cart_savings js-cart_savings sale">
                <span>Total Savings</span>
                <span class="right">
                  <span class="money">
                    {% if totalSavings > 0 %}
                      {{ totalSavings | money }}
                    {% else %}
                      {{ total_saving | plus: cart.total_discount | money }}
                    {% endif %}              
                  </span>
                </span>
              </p>
            {% endif %}
            {% unless shop.enabled_currencies.size > 1 %}
              <p class="desc-orders-processed">
                <small>
                  {{ 'sections.cart.orders_processed_in_currency_html' | t: currency: shop.currency }}
                </small>
              </p>
            {% endunless %}
          </div>
          <div class="cart__ctas" {{ block.shopify_attributes }}>
            <noscript>
              <button type="submit" class="cart__update-button button button--secondary" form="cart">
                {{ 'sections.cart.update' | t }}
              </button>
            </noscript>

            <button
              type="submit"
              id="checkout"
              class="cart__checkout-button button"
              name="checkout"
              {% if cart == empty %}
                disabled
              {% endif %}
              form="cart"
            >
              <span class="icon-lock hidden-xl">
                {% render 'icon-lock' %}
              </span>
              {{ 'sections.cart.checkout' | t }}
            </button>
          </div>
          <div class="box-protection">
            <div class="payment_methods">
              {% comment %}
                icon-paymenten.
                {% for type in shop.enabled_payment_types %}
                  {{ type | payment_type_svg_tag: class: 'payment-icon' }}
                {% endfor %}
              {% endcomment %}
              {% render 'icon-payment' %}
            </div>
          </div>
          {% if cart.item_count > 0 %}
            <div class="text-center">
              {% comment %}
                <a
                  href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}{{ routes.all_products_collection_url }}{% endif %}"
                  class="continue-shopping">
                  {{- 'sections.cart.continue_shopping_link_html' | t -}}
                </a>
              {% endcomment %}
              <a href="/" class="continue-shopping">
                {{- 'sections.cart.continue_shopping_link_html' | t -}}
              </a>
            </div>
          {% endif %}
          <div id="cart-errors"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- start Recomatic code -->
{% if cart.item_count > 0 -%}
  <div class="recomatic-related-products-wrap page-width" style="margin-top: 10px;">
    <div class="related-products__title ">
      <h4 class="related-title center">{{ shop.metafields.recomatic.cart.headline }}</h4>
      <div class="feature_divider"></div>
    </div>
    <div
      id="recomatic-related-products"
      data-widget="cart"
      data-product-ids="[{{ cart.items | map: 'product' | map: 'id' | join: ', ' }}]"
    ></div>
  </div>
{%- endif %}
<!-- end Recomatic code -->

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
