{{ 'product-events.css' | asset_url | stylesheet_tag }}

{% assign image_per_row = section.settings.frontpage_collections_per_row %}
<div class="container page-width">
  {% if section.settings.title != blank %}
    <div class="sixteen columns">
      <h2 class="title center">{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}
  <div class="sixteen columns">
    <div
      class="clearfix equal-columns--outside-trim equal-columns--clear featured-collection-product"
      style="display:grid;grid-template-columns: repeat({{ section.settings.frontpage_product_col }}, minmax(0, 1fr));gap: 20px;"
    >
      {% for block in section.blocks %}
        {%- assign product = all_products[block.settings.product] -%}
        <div
          class="product-item text-{{ block.settings.text_align }}"
          style="--animation-order: {{ forloop.index }};"
          data-cascade
        >
          {% if block.settings.title_col != blank %}
            <h3 class="title-events">{{ block.settings.title_col | escape }}</h3>
          {% endif %}
          {% if block.settings.description != blank %}
            <div class="rte-setting">{{ block.settings.description }}</div>
          {% endif %}
          {% if product != blank %}
            <a href="{{ product.url }}" alt="{{ product.title }}" title="{{ product.title }}">
              <div
                class="image__container"
              >
                {% if block.settings.image_preview != blank %}
                  <img
                    srcset="
                      {% if block.settings.image_preview.src.width >= 288 %}
                        {{ block.settings.image_preview.src | image_url: width: 288 }} 288w,{% endif %}
                      {% if block.settings.image_preview.src.width >= 576 %}
                        {{ block.settings.image_preview.src | image_url: width: 576 }} 576w,{% endif %}
                      {% if block.settings.image_preview.src.width >= 550 %}
                        {{ block.settings.image_preview.src | image_url: width: 550 }} 550w,{% endif %}
                      {% if block.settings.image_preview.src.width >= 1100 %}
                        {{ block.settings.image_preview.src | image_url: width: 1100 }} 1100w,{% endif %}
                      {{ block.settings.image_preview.src | image_url }} {{ block.settings.image_preview.src.width }}w
                    "
                    src="{{ block.settings.image_preview.src | image_url: width: 400 }}"
                    sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                    loading="lazy"
                    width="576"
                    height="{{ 576 | divided_by: block.settings.image_preview.aspect_ratio }}"
                    alt="{{ block.settings.image_preview.alt | escape }}"
                  >
                {% elsif product.featured_media != blank %}
                  <img
                    srcset="
                      {% if product.featured_media.preview_image.width >= 288 %}
                        {{ product.featured_media.preview_image | image_url: width: 288 }} 288w,{% endif %}
                      {% if product.featured_media.preview_image.width >= 576 %}
                        {{ product.featured_media.preview_image | image_url: width: 576 }} 576w,{% endif %}
                      {% if product.featured_media.preview_image.width >= 550 %}
                        {{ product.featured_media.preview_image | image_url: width: 550 }} 550w,{% endif %}
                      {% if product.featured_media.preview_image.width >= 1100 %}
                        {{ product.featured_media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
                      {{ product.featured_media.preview_image | image_url }} {{ product.featured_media.preview_image.width }}w
                    "
                    src="{{ product | image_url: width: 400 }}"
                    sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                    loading="lazy"
                    width="576"
                    height="{{ 576 | divided_by: product.featured_media.preview_image.aspect_ratio }}"
                    alt="{{ product.title | escape }}"
                  >
                {% endif %}
              </div>
            </a>
            <a href="{{ product.url }}" alt="{{ product.title }}" title="{{ product.title }}">
              <h3 class="title">{{ product.title }}</h3>
            </a>
            <span class="price money">{{ product.price | money }}</span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if section.settings.frontpage_link != blank %}
    <div class="center">
       <a href="{{ section.settings.frontpage_link | escape }}" class="btn-slide-product-all">
        <span class="btn-slide-affter"></span>
        <span>Shop All</span>
        </a>
    </div>
   
  {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Product Event",
  "class": "product-event",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection product"
    }, {
      "type": "range",
      "id": "frontpage_collections_per_row",
      "label": "Image per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4
    }, {
      "type": "range",
      "id": "frontpage_product_col",
      "label": "Product Item",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4
    }, {
      "type": "url",
      "id": "frontpage_link",
      "label": "Link Redirect"
    }
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "limit": 12,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "image_picker",
          "id": "image_preview",
          "label": "Image Review"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            }, {
              "value": "center",
              "label": "Center"
            }, {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "title_col",
          "label": "Title",
          "default": "Add a title or tagline"
        }, {
          "type": "richtext",
          "id": "description",
          "default": "<p>Answer goes here...</p>",
          "label": "Text sub"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Event",
      "category": "Product",
      "settings": {}
    }
  ]
}
{% endschema %}
